<div class="page-header">
  <h1>All of the Statuses</h1>
</div>

<%= link_to "Post a New Comment", new_status_path, class: "btn btn-success" %>
<%= link_to "New User", new_user_registration_path, class: "btn btn-primary" %>
<%= link_to "sign out", destroy_user_session_path, class: "btn btn-danger" %>

<% @statuses.each do |status| %>
<div class="status">
  <strong><%= status.user.first_name %></strong>
  <p><%= status.content %></p>
    <div class="meata">
      <%= link_to time_ago_in_words(status.created_at) +" ago" , status %>
      <span class="admin">
         | <%= link_to "Edit", edit_status_path(status) %> |
        <%= link_to "Delete", status, method: :delete, data: {confirm: "Are you sure?"}%>
      </span>
    </div>
</div>



<% end %>
