<!DOCTYPE html>
<html>
<head>
  <title>Treebook</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<a class="navbar-brand" href="#">Treebook</a>
			<ul class="nav navbar-nav">
				<li><%= link_to "All Statuses" , statuses_path %></li>
			</ul>
	</nav>

		<div class="container">

		<p class="notice"><%= notice %></p>
       	<p class="alert"><%= alert %></p>

			<%= yield %>
		</div>



</body>


</html>
